# SoSSim requirements file for development, importing various tools for checking quality and generating documentation.
-r requirements.txt

flit     # package building
mypy     # type checking
pdoc     # documentation

# Typing stubs to improve mypy type checking of imported packages
networkx-stubs