/* 
Style sheet for the SoSSim systems-of-systems simulator.
*/

/* Define variables */
:root {
    /* Fonts */
    --font-family: Arial, Helvetica, sans-serif;

    /* Map colors and styling */
    --map-background: lightgreen;
    --map-border: 0.5px solid black;
    --map-grid-color: lightslategray;
    --map-grid-width: 0.05;

    --coarse-road-color: wheat; 
    --coarse-road-width: 2.2;

    --road-color: lightslategray;
    --road-width: 0.8;

    --destination-background: darkgray;

    --charging-point-background: orange;
    --charging-point-foreground: black;

    --cargo-color: red;

    --route-color: dimgray;
    --route-width: var(--road-width);

    --world-model-space-color: yellow;
    --world-model-space-opacity: 0.4;

    /* Navbar */
    --navbar-color: #e8e8e8;
    --navbar-hover-color: lightgray;
    --navbar-font-color: black;
    --navbar-padding: 0.75rem;
}

/* Define styling */

/* Fonts */
* { 
    font-family: var(--font-family); 
}

/* Maps */
.map {
    border: var(--map-border); 
    background: var(--map-background);

    & .grid_line {
        stroke: var(--map-grid-color);
        stroke-width: var(--map-grid-width);
    }

    & .coarse_road { 
        stroke: var(--coarse-road-color); 
        stroke-width: var(--coarse-road-width);
        stroke-linecap: square;
    }

    & .road { 
        stroke: var(--road-color); 
        stroke-width: var(--road-width);
        stroke-linecap: round;
    }

    & .destination { fill: var(--destination-background); }

    & .charging_point {
        & circle { fill: var(--charging-point-background); }
        & polygon { fill: var(--charging-point-foreground);  }
    }

    & .cargo {
        & circle { fill: var(--cargo-color); }
    }

    & .route {
        stroke: var(--route-color); 
        stroke-width: var(--route-width);
        stroke-linecap: round;
    }

    & .world_model_space {
        fill: var(--world-model-space-color); 
        opacity: var(--world-model-space-opacity); 
    }
}

/* Navigation bar */
nav {
    float: left; 
    width: 100vw;
    background: var(--navbar-color);
    
    & ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    & li {
        color: var(--navbar-font-color);
        display: block;
        float: left;
        padding: var(--navbar-padding);
        position: relative;
    }

    & li:hover {
        background: var(--navbar-hover-color);
        cursor: pointer;
    }

    & ul li ul {
        background: var(--navbar-color);
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        margin-top: var(--navbar-padding);
        left: 0;
        display: none;
    }

    & ul li:hover > ul,
    & ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    & ul li ul li {
        clear: both;
        width: 100%;
    }
}

/* Main content */
main { 
    float: left; 
    }