/* 
Style sheet for the SoSSim systems-of-systems simulator.
*/

/* Define variables */
:root {
    /* Fonts */
    --font-family: Arial, Helvetica, sans-serif;

    /* Map colors and styling */
    --map-background: lightgreen;
    --map-border: 0.5px solid black;
    --road-color: lightslategray;
    --destination-background: darkgray;
    --charging-point-background: orange;
    --charging-point-foreground: black;

    /* Navbar */
    --navbar-color: #e8e8e8;
    --navbar-hover-color: lightgray;
    --navbar-font-color: black;
    --navbar-padding: 0.75rem;
}

/* Define styling */

/* Fonts */
* { 
    font-family: var(--font-family); 
}

/* Maps */
.map {
    border: var(--map-border); 
    background: var(--map-background);

    & .road { stroke: var(--road-color); }

    & .destination { fill: var(--destination-background); }

    & .charging_point {
        & circle { fill: var(--charging-point-background); }
        & polygon { fill: var(--charging-point-foreground);  }
    }
}

/* Navigation bar */
nav {
    float: left; 
    width: 100vw;
    background: var(--navbar-color);
    
    & ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    & li {
        color: var(--navbar-font-color);
        display: block;
        float: left;
        padding: var(--navbar-padding);
        position: relative;
    }

    & li:hover {
        background: var(--navbar-hover-color);
        cursor: pointer;
    }

    & ul li ul {
        background: var(--navbar-color);
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        margin-top: var(--navbar-padding);
        left: 0;
        display: none;
    }

    & ul li:hover > ul,
    & ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    & ul li ul li {
        clear: both;
        width: 100%;
    }
}

/* Main content */
main { 
    float: left; 
    }